/* stylelint-disable no-descending-specificity */
@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

/* ***********************VARIABLES******************* */
$backgroundColor: black;
$textColor: #FFF;
$toDoYellow: #FBFF3C;
$toDoRed: #FF4646;
$toDoLightGrey: #A6A6A6;
$toDoGrey: #222;

/* ***********************GLOBAL******************* */

body {
  background-color: $backgroundColor;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

/* ***********************HEADER******************* */
header {
  height: 80px;
  width: 100%;
  border-bottom: 3px solid $toDoYellow;
  background-color: $backgroundColor;
  position: relative;
  display: flex;
  z-index: 10;

  button {
    min-width: 75px;
    color: $toDoYellow;
    background-color: transparent;
    border: none;

    &:nth-child(1), &:nth-child(3) {
      &:hover {
        color: $textColor;
        text-shadow: 1px 1px 2px $toDoYellow;
      }

      &:active {
        text-shadow: none;
      }
    }

    span {
      font-size: 3rem!important;
    }
  }

  #categories-btn {
    flex-grow: 1;

    span:nth-child(1) {
      display: block;
      position: relative;
      top: 15px;
      color: $textColor;
      font-size: 1.5rem!important;
    }

    &:hover {
      span:nth-child(1) {
        color: $toDoYellow;
        text-shadow: 1px 1px 2px $textColor;
      }

      span:nth-child(2) {
        color: $textColor;
        text-shadow: 1px 1px 2px $toDoYellow;
      }

      &:active span {
        text-shadow: none;
      }
    }
  }
}

/* ***********************SORT, CATEGORIES AND ADD******************* */

.sort-container, .categories-container, .add-item-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $toDoGrey;
  display: flex;
  padding: 10px 0;
  z-index: 5;

  h2 {
    color: $toDoYellow;
  }
}

/* ***********************SORT AND ADD******************* */
.sort-container, .add-item-container {
  button {
    height: 40px;
    width: 200px;
    background-color: $toDoGrey;
    color: $toDoYellow;
    border: 3px solid $toDoYellow;

    &:enabled {
      &:hover {
        border-color: $textColor;
        box-shadow: 2px 2px 4px $toDoYellow;
      }
  
      &:active {
        box-shadow: none;
      }
    }

    &:disabled {
      border-color: $toDoLightGrey;
      color: $textColor;
    }
  }
}

/* ***********************SORT******************* */
.sort-container {
  flex-direction: column;
  align-items: center;
  gap: 15px;
  left: -100%;
  transition: left 0.3s ease-in-out;

  &.open {
    left: 0;
  }
}

/* ***********************CATEGORIES******************* */
.categories-container {
  flex-direction: column;
  align-items: center;
  gap: 15px;
  top: -100%;
  transition: top 0.3s ease-in-out;

  &.open {
    top: 80px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;

    li {
      color: $textColor;
      height: 45px;

      button {
        color: $toDoYellow;
        height: 45px;
        border: none;
        background-color: transparent;

        &:hover {
          color: $textColor;
        }

        &:active {
          color: $toDoYellow;
        }
      }
    }
  }

}

/* ***********************ADD******************* */
.add-item-container {
  justify-content: center;
  right: -100%;
  transition: right 0.3s ease-in-out;

  &.open {
    right: 0;
  }
 
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 20px;

    label {
      width: 100%;
      color: $textColor;
    }

    input {
      height: 40px;
      width: 100%;
      padding-left: 20px;
      border: 1px solid $toDoYellow;
    }
  }
}

/* ***********************toDO LIST******************* */

.todo-item {
  position: relative; 
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $toDoLightGrey;
  padding: 0 5px;
  transition: height 0.3s ease-in-out;

  button {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;

    &:nth-child(1) {
      color: $toDoLightGrey;

      &:hover {
        color: $textColor;
        text-shadow: 2px 2px 2px $toDoLightGrey;
      }

      &:active {
        text-shadow: none;
      }
    }

    &:nth-child(6) {
      color: $toDoRed;

      &:hover {
        color: #f00;
        text-shadow: 2px 2px 2px $toDoRed;
      }

      &:active {
        text-shadow: none;
      }
    }

    span {
      font-size: 2.5rem;
    }
  }

  p {
    flex-grow: 1;
    padding: 0 20px;
    color: $textColor;
  }

  .time-left {
    position: absolute;
    width: 100px;
    top: 0;
    right: 50px;
    color: $textColor;

    span:nth-child(2) {
      position: relative;
      top: -5px;
    }
  }

  &.checked {
    button:nth-child(1) span {
      background-color: #0F0;
      opacity: 0.8;
      color: $textColor;
      border-radius: 50%;
    }

    p {
      color: $toDoLightGrey!important;
    }

    .time-left span:nth-child(2) {
      color: $toDoLightGrey!important;
    }
  }

  &.close-deadline {
    p {
      color: $toDoYellow;
    }

    .time-left span:nth-child(2) {
      color: $toDoYellow;
    }
  }

  &.after-deadline {
    p {
      color: $toDoRed;
    }

    .time-left span:nth-child(2) {
      color: $toDoRed;
    }
  }

  .deadline-date, .date-added-date {
    position: absolute;
    color: $textColor;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .deadline-date {
    top: -25px;
  }

  .date-added-date {
    bottom: -25px;
  }

  &.open {
    height: 160px;

    .deadline-date, .date-added-date {
      position: absolute;
      color: $textColor;
      left: 50px;
      visibility: visible;
      opacity: 1;
    }

    .deadline-date {
      top: 25px;
    }

    .date-added-date {
      bottom: 25px;
    }
  }
}